---
// src/components/SideMenu.astro
import SideMenuItem from "./SideMenuItem.astro";
---

<nav class="flex flex-row gap-4"> <!-- Cambio aquí para una fila con espacio entre los ítems -->
  <div class="bg-zinc-900 rounded-lg p-2">
    <ul class="flex flex-row gap-4"> <!-- Aquí estamos aplicando flex para alinearlos en fila -->
      <SideMenuItem href="/Overview">
        <span>Overview</span>
      </SideMenuItem>

      <SideMenuItem href="./Customer">
        <span>Customer</span>
      </SideMenuItem>

      <SideMenuItem href="/Analytics">
        <span>Analytics</span>
      </SideMenuItem>
    </ul>
  </div>
</nav>
