---
interface Prop {
  href?: string;
  currentPath?: string;
}

const { href, currentPath } = Astro.props;
const isActive = currentPath === href; // Comparamos solo las rutas

---

<li>
  <a class={`rounded-lg flex gap-4  hover:text-black items-center py-3 px-5 font-medium transition duration-300 ${isActive ? 'bg-[#FFFFFF] text-black' : 'text-zinc-400'}`} href={href}>
    <slot />
  </a>
</li>
